  @import url('https://fonts.googleapis.com/css?family=Exo:100');
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


  /* Background data (Original source: https://subtlepatterns.com/grid-me/) */
  /* Animations */
  @-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }

  @-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }

  @-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }

  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }

  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }

  @-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }

  @-o-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }

  @keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }

  /* Main styles */
  body {
    text-align: center;
    color: black;
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 0.92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 0.92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  body::before {
    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
  }

  .carousel-size {
    max-height: 1920px;
    max-width: 1080px;
    margin: auto;

  }

  /*HEADINGS & PARAS*/
  .heading1 {
    font-family: 'Roboto', sans-serif;
    color: #D83A56;
    margin-left: 15%;
    margin-right: 15%;
  }

  .logo-text {
    color: #03256C;
    font-family: 'Lobster', sans-serif;
  }

  .para1 {
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
  }




  /*----------CARDS----------*/
  .card-title {
    text-align: center;
  }

  .card1 {
    transition: transform 0.5s ease;
    margin: auto;
    border-radius: 10px;
    background-color: #1b2530;
    width: 20rem;
    box-shadow: 10px 10px 5px grey;
  }

  .card1:hover {
    background-color: #1b2545;
  }

  .card-img-top {
    height: 300px;
    width: 300px;
  }

  .link {
    text-decoration: none;
  }

  .card-body {
    color: #f2f4f6;
  }

  .card-text {
    font-size: 14px;
  }

  .card1:hover {
    transform: scale(1.1);
  }

  /*--------------navbar---------------*/
  .blue:hover {
    color: #03256C !important;
  }

  #nav-box {
    margin: 1% 2% 2%;
    box-shadow: 10px 10px 5px grey;
  }

  /*========================footer===========================*/
  footer {
    margin: 2% 2%;
    background: #D83A56;
    color: white;
  }

  .link-color {
    color: white;
    text-decoration: none;
  }

  .footer {
    box-shadow: 10px 10px 5px grey;
  }

  .footer-heading {
    color: #03256C;
    font-family: 'Lobster', sans-serif;
    text-align: center;
  }.


  /*----------ICONS----------*/
  .iconx {
    transition: transform 0.2s ease;
  }

  .iconx:hover {
    transform: scale(1.2);
  }

  .channel {
    transition: transform 0.5s ease;
    height: 100px;
    width: 100px;
  }

  .channel1 {
    transition: transform 0.5s ease;
    height: 100px;
    width: 150px;
  }

  .channel:hover {
    transform: scale(1.1);
  }

  .channel1:hover {
    transform: scale(1.1);
  }

  .pad {
    padding: 1.5%;
  }

  /*----------ANIMATION----------*/

div.main {
  overflow:hidden;
  color: #ffffff;
}
div.slide-right h1 {
  -moz-animation: 5s slide-right;
  -webkit-animation: 5s slide-right;
  -o-animation: 5s slide-right;
  animation: s slide-right;
  margin:0;
}
div.slide-left h1 {
  -moz-animation: 5s slide-left;
  -webkit-animation: 5s slide-left;
  -o-animation: 5s slide-left;
  animation: 5s slide-left;
  margin:0;
}

div.slide-right h3 {
  -moz-animation: 10s slide-right;
  -webkit-animation: 10s slide-right;
  -o-animation: 10s slide-right;
  animation: 10s slide-right;
  margin:0;
}

div.slide-right p {
  -moz-animation: 15s slide-right;
  -webkit-animation: 15s slide-right;
  -o-animation: 15s slide-right;
  animation: 15s slide-right;
  margin:0;
}
div.slide-left h1 {
  -moz-animation: 10s slide-left;
  -webkit-animation: 10s slide-left;
  -o-animation: 10s slide-left;
  animation: 10s slide-left;
  margin:0;
}

div.slide-left h3 {
  -moz-animation: 10s slide-left;
  -webkit-animation: 10s slide-left;
  -o-animation: 10s slide-left;
  animation: 10s slide-left;
  margin:0;
}

div.slide-left p {
  -moz-animation: 10s slide-left;
  -webkit-animation: 10s slide-left;
  -o-animation: 10s slide-left;
  animation: 10s slide-left;
  margin:0;
}

@-webkit-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@-moz-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
 @-o-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }

@-webkit-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-moz-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-o-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }



  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
